## R data types: Data Frames

### R Data frames

- Two important S3 vectors built on top of lists are <span style="color:blue">data frames</span> and <span style="color:blue">tibbles</span>
- A data frame is like a matrix, with a 2-dim rows-and-columns structure
- It is <span style="color:blue">a named list of vectors</span>, with attributes for columns and rows names, (<span style="color:blue">names, row.names</span>), belonging to the <span style="color:blue">data.frames class</span>

    - <span style="color:blue">technically, a data frame is a list with all equal length vectors</span>

IMAGEN

In [1]:
df1 <- data.frame(x = 1:3, y = letters[1:3])
typeof(df1)

[1] "list"

In [2]:
attributes(df1)

$names
[1] "x" "y"

$class
[1] "data.frame"

$row.names
[1] 1 2 3

In [3]:
str(df1)

'data.frame':	3 obs. of  2 variables:
 $ x: int  1 2 3
 $ y: Factor w/ 3 levels "a","b","c": 1 2 3

#### examples

- we have a table with the results of two exams for the student of an hypothetical course, and we want to <span style="color:blue">import them</span> in a <span style="color:blue">data.frame</span>

In [6]:
exam1 <- c(27,28,24,24,30,26,23,23,24,28,27,25)
exam2 <- c(25,30,26,24,30,30,25,25,30,28,27,28)
gender <-c("M","F","M","M","M","M","M","M","F","F","M","F")

dc <- data.frame(exam1, exam2, gender)
#extract the first two lines of the data frame
head(dc,n=2)

  exam1 exam2 gender
1 27    25    M
2 28    30    F

In [7]:
dc1 <- data.frame(exam1, exam2, gender,
                 stringsAsFactors = FALSE)
str(dc1)

'data.frame':	12 obs. of  3 variables:
 $ exam1 : num  27 28 24 24 30 26 23 23 24 28 ...
 $ exam2 : num  25 30 26 24 30 30 25 25 30 28 ...
 $ gender: chr  "M" "F" "M" "M" ...

#### Objects creation

- Data frames are list of vectors, therefore <span style="color:blue">copy-on-modify  has important consequences</span>

IMAGE

In [8]:
d1 <- data.frame(x = c(1,2,3),
                 y = c(5,7,9))
d1

  x y
1 1 5
2 2 7
3 3 9

- if we <span style="color:blue">modify a column</span> then <span style="color:blue">only the reference to the new column will be updated</span>

IMAGE

In [9]:
d2 <- d1
d2[, 2] <- d2[,2] * 2
d2

  x y
1 1 10
2 2 14
3 3 18

- but <span style="color:blue">if any row is modified</span> then <span style="color:blue">every column is modified</span> because every column must be copied

IMAGE

In [11]:
d3 <- d1
d3[1,] <- d3[1,] * 3
d3

  x y
1 3 15
2 2  7
3 3  9

#### Modify-in-place

- Modifying an R object usually <span style="color:blue">creates a copy</span>
- but there are <span style="color:blue">2 exceptions</span>:
    -<span style="color:blue">objects with single binding</span> get a special performance optimization
    -<span style="color:blue">environments</span>, a special type of object, <span style="color:blue">are always modified in place</span>

In [15]:
v <- c(1,3,2)
#install.packages("lobstr")
library(lobstr) 

lobstr::obj_addr(v)

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

[1] "0x5585b5bcb678"

IMAGE

In [16]:
v[[3]] <- -2
lobstr::obj_addr(v)

[1] "0x5585b7c32338"

IMAGE

- but <span style="color:blue">it is very difficult to predict</span> when R applies this <span style="color:blue">optimization</span>
- concerning object binding, <span style="color:blue">R only counts 0,1 on MANY</span>
- it means that if an object has 2 bindings (i.e. many), and one gets deleted, the reference does not go back to 1 (many-1 = many)
- when a function is called, it makes a reference to the object --> it is very difficult to predict weather or not a copy will occur
-cfr: <span style="color:blue">https://developer.r-project.org/Refcnt.html
</span>

### Accesing data frame elements

- a data frame is a list, therefore we can access them via <span style="color:blue">component index</span> value [[ j ]] or via <span style="color:blue">component names</span>

In [18]:
str(dc)

'data.frame':	12 obs. of  3 variables:
 $ exam1 : num  27 28 24 24 30 26 23 23 24 28 ...
 $ exam2 : num  25 30 26 24 30 30 25 25 30 28 ...
 $ gender: Factor w/ 2 levels "F","M": 2 1 2 2 2 2 2 2 1 1 ...

In [19]:
# access by component index
dc[[1]]

 [1] 27 28 24 24 30 26 23 23 24 28 27 25

In [20]:
#access by component name
dc$exam1

 [1] 27 28 24 24 30 26 23 23 24 28 27 25

- but a data frame can be treated in a matrix-like fashion, as well

In [21]:
#select column 1
dc[,1]

 [1] 27 28 24 24 30 26 23 23 24 28 27 25

In [22]:
#and access the single element, as well
dc[1,1]

[1] 27

### Data frame row names

- data frames allow to <span style="color:blue">label each row with a name</span>, a character vector containing only unique names

In [24]:
df1 <- data.frame( age = c(35,25,18),
                    hair = c("blond", "brown", NA),
                    row.names = c("Bob", "Tom", "Sam"))
df1

    age hair
Bob 35  blond
Tom 25  brown
Sam 18  NA

In [25]:
names(df1)

[1] "age"  "hair"

In [26]:
row.names(df1)

[1] "Bob" "Tom" "Sam"

- but <span style="color:red">row names are a bad practice</span>
    1. <span style="color:blue">metadata is metadata</span>: storing it in a different way to the rest of data is a bad idea
    2. <span style="color:blue">row names are a poor abstraction for labeling rows</span>: they only work when a row can be identified by a single string
    3. <span style="color:blue">row names must be unique</span>: any duplication of rows will create new row names --> complicated "string surgery" may be needed.

### Advanced data frames

####  Data selection

In [27]:
#Select only rows 2:4
dc[2:4,]

  exam1 exam2 gender
2 28    30    F
3 24    26    M
4 24    24    M

In [28]:
# drop rows 2:10
dc[-(2:10),]

   exam1 exam2 gender
1  27    25    M
11 27    27    M
12 25    28    F

- with the sample function, data can be selected at random

In [30]:
# select 3 rows at random
dc[sample(1:12,3),]

  exam1 exam2 gender
5 30    30    M
7 23    25    M
8 23    25    M

- suppose we want to extract all columns that contain numbers, rather than character or logicals, from a data frame

In [34]:
dc[,sapply(dc,is.numeric)]

   exam1 exam2
1  27    25
2  28    30
3  24    26
4  24    24
5  30    30
6  26    30
7  23    25
8  23    25
9  24    30
10 28    28
11 27    27
12 25    28

- and now we want to get only factors (and remove numerics)

In [35]:
dc[, sapply(dc,is.factor)]

 [1] M F M M M M M M F F M F
Levels: F M

#### NA elements

- sometimes our data frame can have missing values (NA) and we may need to omit those values
- we can create a <span style="color:blue">shorter data frame</span> using the <span style="color:blue">na.omit() function</span>

In [38]:
data <- data.frame( slope = c(11, NA, 3, 5),
                    pH    = c(4.1, 5.2, 4.9,NA),
                    area  = c(3.6, 5.1, 2.8, 3.7))

data

  slope pH  area
1 11    4.1 3.6
2 NA    5.2 5.1
3  3    4.9 2.8
4  5     NA 3.7

In [39]:
na.omit(data)

  slope pH  area
1 11    4.1 3.6
3  3    4.9 2.8

In [41]:
clean_data <- na.exclude(data)
clean_data

  slope pH  area
1 11    4.1 3.6
3  3    4.9 2.8

In [42]:
lapply(clean_data, mean)

$slope
[1] 7

$pH
[1] 4.5

$area
[1] 3.2

In [43]:
#let's count the missing values
apply(apply(data,2,is.na),2,sum)

slope    pH  area
    1     1     0

#### Sorting elements

In [44]:
dc[order(exam1),]

   exam1 exam2 gender
7  23    25    M
8  23    25    M
3  24    26    M
4  24    24    M
9  24    30    F
12 25    28    F
6  26    30    M
1  27    25    M
11 27    27    M
2  28    30    F
10 28    28    F
5  30    30    M

In [45]:
dc[order(exam1,decreasing=TRUE),]

   exam1 exam2 gender
5  30    30    M
2  28    30    F
10 28    28    F
1  27    25    M
11 27    27    M
6  26    30    M
12 25    28    F
3  24    26    M
4  24    24    M
9  24    30    F
7  23    25    M
8  23    25    M

In [47]:
dc[order(gender, exam1, exam2, decreasing=TRUE),]

   exam1 exam2 gender
5  30    30    M
11 27    27    M
1  27    25    M
6  26    30    M
3  24    26    M
4  24    24    M
7  23    25    M
8  23    25    M
2  28    30    F
10 28    28    F
12 25    28    F
9  24    30    F

#### Summary

- given a data frame called data, we assume n is a row number and m is one of the column

- the syntax [n,] selects all the columns given row n, while [,m] selects all the rows with column m

IMAGE

### The tibble data structure

- it is a modern reimagining of the data frame
- it is provided by tibble package which is part of the <span style="color:blue">tidyverse core library</span>

In [50]:
#install.packages("tidyverse")
library(tidyverse)

In [54]:
?tibble

- a data frame can be converted to a tibble

In [51]:
dct <- tibble(dc)
dct

ERROR while rich displaying an object: Error in vapply(part, format, character(nrow(part))): values must be length 12,
 but FUN(X[[1]]) result is length 3

Traceback:
1. FUN(X[[i]], ...)
2. tryCatch(withCallingHandlers({
 .     if (!mime %in% names(repr::mime2repr))
 .         stop("No repr_* for mimetype ", mime, " in repr::mime2repr")
 .     rpr <- repr::mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler), error = outer_handler)
3. tryCatchList(expr, classes, parentenv, handlers)
4. tryCatchOne(expr, names, parentenv, handlers[[1L]])
5. doTryCatch(return(expr), name, parentenv, handler)
6. withCallingHandlers({
 .     if (!mime %in% names(repr::mime2repr))
 .         stop("No repr_* for mimetype ", mime, " in repr::mime2repr")
 .     rpr <- repr::mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler)
7. repr::mime2repr[[mime]](obj)
8. repr_text.data.frame(obj)
9. ellip_limit_arr(obj, ...)
10. arr_parts_format(parts)
11. structure(lapply(parts, arr_part_format), omit = attr(parts,
  .     "omit"))
12. lapply(parts, arr_part_format)
13. FUN(X[[i]], ...)
14. vapply(part, format, character(nrow(part)))

- or created from vectors (as for the data frame)

In [57]:
dct <- data.frame(exam1 =c(27,28,24,24,30,26,23,23,24,28,27,25),
                  exam2 = exam2, gender)
dct

   exam1 exam2 gender
1  27    25    M
2  28    30    F
3  24    26    M
4  24    24    M
5  30    30    M
6  26    30    M
7  23    25    M
8  23    25    M
9  24    30    F
10 28    28    F
11 27    27    M
12 25    28    F

### Tibbles vs data.frame

- two main differences in the usage of a tibble versus a data.frame: printing ans subsetting

- Tibbles have a refined print method that shows only the first 10 rows

#### printing

In [60]:
atb <- tibble(a = lubridate::now() + runif(1.e3) * 86400,
              b =1:1.e3,
              c =runif(1.e3),
              d =sample(letters, 1.e3, replace = TRUE))

In [61]:
atb

     a                   b    c          d
1    2021-04-02 03:02:21  1   0.56474157 b
2    2021-04-01 23:11:52  2   0.91914289 i
3    2021-04-01 20:25:35  3   0.04455831 s
4    2021-04-01 23:57:45  4   0.39174457 b
5    2021-04-01 21:16:56  5   0.60292345 w
6    2021-04-02 09:11:12  6   0.15493198 w
7    2021-04-01 11:13:59  7   0.60528881 t
8    2021-04-01 18:46:01  8   0.79624783 q
9    2021-04-01 20:19:30  9   0.81872890 o
10   2021-04-02 04:51:52 10   0.02346892 p
11   2021-04-01 12:01:48 11   0.03488493 s
12   2021-04-01 22:50:26 12   0.11190827 o
13   2021-04-01 20:13:17 13   0.73676438 w
14   2021-04-02 03:20:21 14   0.59239909 g
15   2021-04-01 16:46:50 15   0.71974719 s
16   2021-04-02 08:29:24 16   0.18981713 k
17   2021-04-02 00:25:52 17   0.57871268 p
18   2021-04-01 18:27:18 18   0.28880110 b
19   2021-04-01 13:10:27 19   0.43555155 w
20   2021-04-01 13:58:05 20   0.74356313 o
21   2021-04-02 01:30:46 21   0.61173139 n
22   2021-04-01 21:12:48 22   0.06896195 n
23   2021-04-02 00:23:39 23   0.74318689 n
24   2021-04-01 16:52:57 24   0.82648767 p
25   2021-04-02 08:32:45 25   0.20048039 i
26   2021-04-02 03:00:40 26   0.26528143 g
27   2021-04-01 19:52:55 27   0.04830537 l
28   2021-04-02 03:14:56 28   0.62785014 a
29   2021-04-02 00:13:56 29   0.89431986 u
30   2021-04-01 10:09:18 30   0.07948754 t
...  ...                 ...  ...        ...
971  2021-04-02 03:23:29  971 0.86198591 r
972  2021-04-02 00:22:41  972 0.37916969 y
973  2021-04-02 04:53:52  973 0.32136416 e
974  2021-04-01 13:27:55  974 0.39078975 y
975  2021-04-01 11:56:39  975 0.19289537 h
976  2021-04-02 00:35:14  976 0.99294623 h
977  2021-04-01 23:24:41  977 0.56113625 j
978  2021-04-01 14:02:25  978 0.09164669 u
979  2021-04-02 05:57:21  979 0.66951808 t
980  2021-04-02 06:12:07  980 0.70086929 a
981  2021-04-02 04:23:45  981 0.23741929 e
982  2021-04-01 23:16:11  982 0.07956933 o
983  2021-04-02 02:57:43  983 0.70992841 m
984  2021-04-02 09:36:43  984 0.45712084 h
985  2021-04-02 06:11:32  985 0.65980959 n
986  2021-04-02 03:26:18  986 0.48449986 a
987  2021-04-02 01:58:29  987 0.40856546 o
988  2021-04-02 01:38:57  988 0.76834159 z
989  2021-04-02 05:18:02  989 0.35643360 x
990  2021-04-01 14:24:45  990 0.81288419 e
991  2021-04-01 13:57:14  991 0.60419731 q
992  2021-04-01 19:21:22  992 0.15075887 c
993  2021-04-01 13:42:29  993 0.49608588 v
994  2021-04-01 21:35:29  994 0.39619690 l
995  2021-04-02 05:43:00  995 0.40884982 f
996  2021-04-01 10:09:13  996 0.30839186 n
997  2021-04-02 05:39:04  997 0.97227773 v
998  2021-04-02 04:36:37  998 0.29764478 u
999  2021-04-02 01:16:54  999 0.91945401 l
1000 2021-04-01 20:22:57 1000 0.94582352 o

#### subsetting

- tibbles can extract by name or position

In [62]:
tb1 <- tibble( x = runif(5),
               y = rnorm(5))

In [65]:
#Extract by names
tb1$x

tb1[["x"]]

[1] 0.3923860 0.9884517 0.3486845 0.2567058 0.4458361

[1] 0.3923860 0.9884517 0.3486845 0.2567058 0.4458361

In [66]:
# Extract by position
tb1[[1]]

[1] 0.3923860 0.9884517 0.3486845 0.2567058 0.4458361

- tibbles are more strict than data.frame: they never do partial matching, and they will generate a warning if the column you are trying to access does not exist

In [67]:
tdc <- as_tibble(dc)

In [70]:
dc$gender

dc$gen

 [1] M F M M M M M M F F M F
Levels: F M

 [1] M F M M M M M M F F M F
Levels: F M

In [71]:
tdc$gender

tdc$gen

 [1] M F M M M M M M F F M F
Levels: F M

Warning message:
“Unknown or uninitialised column: 'gen'.”

NULL

### Data Input

- numbers can be <span style="color:blue">inputed</span> through the <span style="color:blue">keyboard</span>, from an external <span style="color:blue">file on disk</span>, or from an external <span style="color:blue">file on the web</span>.
- use the concatenate function for up to 10 numbers
- and <span style="color:blue">scan()</span> for typing or pasting data into a vector

In [76]:
 y <- c(6,7,3,4,8,5,6,2)

In [79]:
tu <- scan()
tu

numeric(0)

- but the easiest way is to <span style="color:blue">read data from a file</span> (or from the Web), already shaped in a data frame format

#### read.table()

- the read.table() function reads data from a local file and creates a data frame

In [83]:
data <- read.table("DATA/yield.txt",header=T)

In [84]:
data

  year wheat barley oats rye corn
1 1980 5.9   4.4    4.1  3.8 4.4
2 1981 5.8   4.4    4.3  3.7 4.1
3 1982 6.2   4.9    4.4  4.1 4.0

- the parameter header = T tells R to use the first row as column names

In [85]:
names(data)

[1] "year"   "wheat"  "barley" "oats"   "rye"    "corn"

In [86]:
str(data)

'data.frame':	3 obs. of  6 variables:
 $ year  : int  1980 1981 1982
 $ wheat : num  5.9 5.8 6.2
 $ barley: num  4.4 4.4 4.9
 $ oats  : num  4.1 4.3 4.4
 $ rye   : num  3.8 3.7 4.1
 $ corn  : num  4.4 4.1 4

- if the separator between variable names and data fields are not blanks or tabs, (\t), a different separator can be specified with the set="," option

In [92]:
datav <- read.table("DATA/bowens.csv",sep=",", header=T)

In [93]:
str(datav)

'data.frame':	3 obs. of  3 variables:
 $ place: Factor w/ 3 levels "Abingdon","Admoor Copse",..: 1 2 3
 $ east : int  50 60 48
 $ north: int  97 70 3

##### separators and decimal points

- the default field separator character in read.table() is sep=" ": which identifies with one or more spaces, one or more tabs (\t), and one or more newlines (\n)

- for comma-separated fields use read.csv()
- for semicolon-separated fields use read.csv2()
- for tab-delimited fields with decimal points as a commas, use read.delim2()

In [96]:
bw <- read.csv("DATA/bowens.csv")

In [97]:
str(bw)

'data.frame':	3 obs. of  3 variables:
 $ place: Factor w/ 3 levels "Abingdon","Admoor Copse",..: 1 2 3
 $ east : int  50 60 48
 $ north: int  97 70 3

#### read.csv() and read.delim()

- additional functions to read a file in table format exist

In [98]:
?read.table

- further detailed instructions in the 'R Data Import/Export' manual:<span style="color:blue">https://cran.r-project.org/doc/manuals/r-release/R-data.html
</span>

#### Data input from Web and from DB

- R can read data from the network using HHTP by specifying the file URL

In [101]:
wc <- read.table("https://tinyurl.com/murders-txt", header = T)

In [102]:
str(wc)

'data.frame':	50 obs. of  4 variables:
 $ state     : Factor w/ 50 levels "Alabama","Alaska",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ population: int  3615 365 2212 2110 21198 2541 3100 579 8277 4931 ...
 $ murder    : num  15.1 11.3 7.8 10.1 10.3 6.8 3.1 6.2 10.7 13.9 ...
 $ region    : Factor w/ 4 levels "North.Central",..: 3 4 4 3 4 4 2 3 3 3 ...

- several packages available on CRAN to help R communicate with DBMS's:

    combining a unified 'font-end' package with a 'back-end' module, several common relational databases can be accessed (RMySQL, ROracle, RPostgreSQL and RSQLite)
    
    
- finally, R can read binary data files: NASA's HDF5 (Hierarchical Data Format <span style="color:blue">https://www.hdfgroup.org/HDF5/
</span>)and UCAR's netCDF data files (network Common Data Form, <span style="color:blue">http://www.unidata.ucar.edu/software/netcdf/
</span>


- and image files

##### example

- let's retrieve the latest data on the COVID-19 Virus infection from the European Centers for Disease Control <span style="color:blue">https://www.ecdc.europa.eu/en</span>

- R can read data from the network using HTTP by specifying the file URL

- we dowload an EXCEL file
- we use the following packages:  <span style="color:blue">lubridate</span>, <span style="color:blue">curl</span> and <span style="color:blue">readxl</span>

In [106]:
url <- "https://www.ecdc.europa.eu/sites/default/files/documents/"
fname <- "COVID-19-geographic-disbtribution-worldwide-"
date <- lubridate::today() -1
ext = ".xlsx"
target  <- paste(url,fname,date,ext,sep="")
message("target: ", target)

target: https://www.ecdc.europa.eu/sites/default/files/documents/COVID-19-geographic-disbtribution-worldwide-2021-03-31.xlsx

In [109]:
tmp_file <- tempfile("data", "/tmp",fileext=ext)
tmp <- curl::curl_download(target, destfile=tmp_file)

ERROR: Error in curl::curl_download(target, destfile = tmp_file): HTTP error 404.

- data are imported in a tibble data structure

In [110]:
(data <- readxl::read_xlsx(tmp_file))

ERROR: Error: Evaluation error: zip file '/tmp/data1ecf26ccccb0.xlsx' cannot be opened.